.side_bar p {
  padding-bottom: 5px;
  border-bottom: 1px solid white;
}
.home {
  margin-top: 25px;
  margin-bottom: 80px;
  border-bottom: 1px solid white;
}
.tbl th {
  padding: 10px;
  @apply bg-slate-200;
}
